<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <!-- Bind class 'active' when the url matches exactly -->
        <a class="nav-item nav-link" [routerLink]="linkHome" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="nav-item nav-link" [routerLink]="linkUsers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
