<div class="card">
  <h4 *ngIf="isAddMode" class="card-header">Add new user</h4>
  <h4 *ngIf="!isAddMode" class="card-header">Edit existing user</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <div class="form-group col">
          <label for="firstName">First Name:</label>
          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">
              <div>First name is required!</div>
            </div>
          </div>
        </div>

        <div class="form-group col">
          <label for="lastName">Last Name:</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">
              <div>Last name is required!</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="userName">Username:</label>
          <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
          <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">
              <div>Username is required!</div>
            </div>
          </div>
        </div>

        <div class="form-group col">
          <label for="password">
            Password
            <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
          </label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="submitted && f.password.errors.required">Password is required</div>
            <div *ngIf="submitted && f.password.errors.minLength">Password must be at least 6 characters long</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
      </div>

    </form>
</div>
